$blue : rgb(6, 117, 203);

nav {
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    img {
        height: 30px;
        padding: 10px;
    }

    div {
        display: flex;

        div {
            width: 120px;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            border: 1px solid $blue;
            margin: 0px 5px;
            font-weight: 600;
        }

        .signup {
            height: 30px;
            color: $blue;
        }

        .login, .logout {
            background-color: $blue;
            color: white;
            height: 30px;

        }
        
    
    }
    border-bottom: 1px solid rgb(212,214,221);
}