<div class="container">
    <div [style.background-color]="isSelect=='New'? 'gray':'white'" (click)="change('New')">New</div>
    <div [style.background-color]="isSelect=='Up'? 'gray':'white'" (click)="change('Up')">Up</div>
    <div [style.background-color]="isSelect=='Popular'? 'gray':'white'" (click)="change('Popular')">Popular</div>
    <div [style.background-color]="isSelect=='Old'? 'gray':'white'" (click)="change('Old')">Old</div>
    <div [style.background-color]="isSelect=='Down'? 'gray':'white'" (click)="change('Down')">Down</div>
</div>